/* Styles for the content-body */
#content-body {
    width: 645px;
    margin-left: 25px;
    margin-right: 25px;
    z-index: 20;
  }
  
  /* Styles for the registration form container */
  .form-container {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    line-height: 1.618;
    display: flex; /* Use Flexbox for the form container */
    flex-direction: column; /* Arrange elements vertically */
  }
  
  /* Styles for labels within the form */
  .form-container label {
    font-weight: bold;
  }
  
  /* Styles for form input elements */
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px; /* Add space between input fields */
  }
  
  /* Styles for the password strength meter */
  #pw-strength-meter {
    /* Define styles for the password strength meter here */
  }
  
  /* Styles for validation conditions */
  .validation-conditions-container {
    font-size: 12px;
    color: #999;
  }
  
  .validation-conditions-container .cond-error {
    color: #ff0000;
  }
  
  /* Additional Styles for checkbox label */
  .checkbox {
    margin-top: 10px; /* Add space above the checkbox */
  }
  
  