/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
  }
  
  /* User container styles */
  .user {
    width: 90%;
    max-width: 340px;
    margin: 0 auto;
  }
  
  /* User header styles */
  .user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
  }
  
  .user__title {
    font-size: 14px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
  }
  
  /* Form container styles */
  .form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    background: white; /* Add a background color to the form */
    padding: 20px; /* Add some padding to the form */
  }
  
  /* Input field styles */
  .form__input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Add space between input fields */
    font-family: "Roboto", sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    transition: 0.3s;
  }
  
  .form__input:focus {
    background: #f2f2f2;
  }
  
  /* Button styles */
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border: 0;
    outline: 0;
    color: white;
    background: #ABA194;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #9d8c7e;
  }
  