* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: url('banner.jpg'); /* Use the same background image for both the header and body */
    background-size: cover; /* Ensure the background covers the entire page */
}

header {
    
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
    margin: 6% auto;
    background: #fef;
    padding: 5px;
    border-radius: 19px; /* to make the form rounded */
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

/* Add more styling for forum content within the .container as per your design requirements. */
