<!--{{define "title"}}
A Login Register
{{end}}

{{define "content"}}-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Home</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Link to your style.css file -->
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="register-login.html#register-section">Register</a></li>
                <li><a href="register-login.html#login-section">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="forum-content">
            {{range .}}
            <div class="forum-post">
                <!-- <h2>{{.Title}}</h2> -->
                <p> {{.Post}} </p>
                <p>Posted by {{.User}} in {{.Category}}</p>
                <p>{{.Content}}</p>
                <a href="{{.Link}}">Read More</a>
            </div>
            {{end}}
        </div>
    </div>

    <footer>
        <p>&copy; 2023 YourForumName</p>
    </footer>
</body>

</html>
<!--{{end}}-->